html, body { 
  margin: 0; 
  padding: 0;
}
ul {
  margin-top: 0;
}

.landing-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing-page-container h2 {
  align-self: center;
  font-size: 4em;
}
.landing-page-container img {
  width: 100%;
}
